.git/
.shm/
.vscode/
.clangd

engine/out/
engine/.vb/

backend/genproto/
backend/.tools/
backend/server.exe
backend/paper_trader.db
backend/paper_trader.db-shm
backend/paper_trader.db-wal
backend/*.log

frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo

node_modules/
recordings/
venv/
__pycache__/
*.pyc
